<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Users</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/create-user.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/user/all">Users</a></li>
                <li class="main-header__item"><a class="active" href="/user/create">Add Users</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="user-form" action="/user/create" method="POST">
            <div class="form-control">
                <label for="username">User name</label>
                <input type="text" name="username" id="username">
            </div>

            <button type="submit">Add Users</button>
        </form>
    </main>
</body>

</html>